h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f2f2f2;
}

hr {
    border: 2px;
    height: 1px;
    background: black;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
