body {
    background-color: #FFD700;
    padding: 5px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: white;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

p {
    text-align: justify;text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: medium;
}

ul {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-size: medium;
}

hr {
    border: 1px solid black;
} 

footer {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-size: medium;
    padding: 5px;
    font-weight: bold;
    text-align: left;
}

aside {
    float: right;
    padding: 15px;
    margin: 15px;
    background-color: #948638;
    border: 1px solid black ;
}