table, th, td {
  border: 2px solid black;
  border-collapse: separate;
  border-spacing: 5px;
  padding: 10px;
  text-align: center;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.GoT {
    margin-right: auto;
    margin-left: auto;
}
